@model DD4T.ContentModel.ComponentPresentation

<tr>
    <td>Component ID</td>
    <td>@Model.Component.Id</td>
</tr>
<tr>
    <td>Component Title</td>
    <td>@Model.Component.Title</td>
</tr>
<tr>
    <td>Schema</td>
    <td>@Model.Component.Schema.Title</td>
</tr>
<tr>
    <td>Component Template ID</td>
    <td>@Model.ComponentTemplate.Id</td>
</tr>
<tr>
    <td>Component Template Title</td>
    <td>@Model.ComponentTemplate.Title</td>
</tr>

