@using Dyndle.Modules.Search.Extensions
@model Dyndle.Modules.Search.Contracts.ISearchResults
@if (Model.Total > 0 && Model.Items != null)
{
    <ul style="list-style-type:none;margin:0;padding:0;">
        @foreach (var item in Model.Items)
        {
            <li style="display: block; min-height:100px">
                <img src="@item.ImageUrl.GetValue()" alt="" style="width: 100px; height: 100px; float:left;"/>
                <h3><a href="@item.Urls.GetValue()">@item.Title.GetValue()</a></h3>
                <p>@item.Summary.GetValue()</p>
            </li> 
        }
    </ul>
}
else
{
    <div>
        @(Model.ErrorMessage != null ? Model.ErrorMessage : "No more results")
    </div>
}