@model ISitemapItem

<ul class="navigation multilevel">
    @RenderLevel(Model)
</ul>

@helper RenderLevel(ISitemapItem level)
{
    foreach (var item in level.Items)
    {
        if (item.Type.Equals("page", StringComparison.InvariantCultureIgnoreCase)) { continue; }

        var cssClass = (Request.Url.LocalPath.StartsWith(item.Url) ? "active" : null);
        <li class="@cssClass">
            <a href="@item.Url">@item.Title</a>
            <ul>
                @RenderLevel(item)
            </ul>
        </li>
    }
}